*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,html{
    height: 100%;
    width: 100%;
  }
  hr{
    margin: 20px;
    width: 100%;
  }
  footer{
    padding: 50px;
    background: url("../../assets/footer.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  footer .top{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s ease;
  }
  footer .top:hover{
    transform: scale(1.1);
  }
  footer .bottom{
    margin-top: 15px;
  }

  ul{
    list-style: none;
  }
  a{
    color: white;
    text-decoration: none;
  }

  @media screen and (max-width: 900px) {
    footer .top{
      width: 90%;
    }
    footer{
      padding: 40px;
    }
  }
  @media screen and (max-width: 400px) {
    footer .top{
      width: 100%;
    }
    footer{
      padding: 30px;
    }
    footer p, footer h3, footer a{
      font-size: 12px;
      width:100% ;
    }

  }