*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,html{
    height: 100%;
    width: 100%;
  }
  nav{
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: skyblue;
  }
  nav h2{
    margin-left: 10px;
    color: white;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  nav .image{
    width: 40px;
    height: 40px;
    margin-left: 30px;
  }

  nav .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 400px) {
   nav h2{
    font-size: 22px;
   } 
   nav .image{
    margin-left: 15px;
    width: 25px;
    height: 25px;
   }
  }