*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,html{
    height: 100%;
    width: 100%;
 }
  .main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 12px;
    margin: 30px;
  }
  .card-con{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card{
    padding: 20px;
    width: 400px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: left;
    transition: 1s ease;
  }
  .card-con .card:hover{
    transform: scale(1.1, 1.1);
    background-color: skyblue;
    color: white;
  }
  .card-con:hover > .card:not(:hover){
    transform: scale(0.9, 0.9);
  }
  .card h2{
    text-align: center;
  }
  .card p{
    text-align: center;
    margin-top: 10px;
  }



  @media screen and (max-width: 800px) {
    .card-con{
      width: 300px;
    }
  }
  
  @media screen and (max-width: 400px) {

    .main-card{
      width: 100%;
      margin: 0px;
    }
  .card{
    width: 250px;
  }
  .card h2, .card p{
    font-size: 12px;
  }

  }